/* FONTS*/

@font-face {
    font-family: Gotham-Bold;
    src: url(fonts/Gotham-Bold.ttf);
}

@font-face {
    font-family: Zurich-Bold;
    src: url(fonts/Zurich3N2BoldCondensedBT.ttf);
}

@font-face {
    font-family: Gotham-Regular;
    src: url(fonts/Gotham-Regular.ttf);
}

/* FONTS - END*/

h1, h2, h3, h4, h5 {
	font-family: Gotham-Bold, "Sans-serif";
}

b {
	font-family: Gotham-Bold, "Sans-serif";
}

body {
	width: 960px;
	margin: auto;
	font-family: Gotham-Regular, "Sans-serif";
}

#wrapper {
	width: 80%;
	margin: auto;
}

/* nav bar*/
nav {
	width: 100%;
	height: 40px;
	background-color: #D3D3D3;
	margin: auto;
	padding: 0px 10px 0px 10px;
}

/* section containing all product content*/
section {
	width: 100%;
	margin: auto;
	padding: 10px 10px 10px 10px;
}

/* section containing title, subtitle, price, description, and modal button*/
#infoPanel {
	float: right;
	text-align: left;
	width: 350px;
}

#subtitle {
	color: #D3D3D3;
}

#description {
	margin-bottom: 30px;
} 

/* main product image*/
#jerseyImg {
	float: left;
	margin-top: 100px;
}

/* modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    font-size: 14px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    width: 400px;
    height: 380px;
}
/* Modal Header */
.modal-header {
	background-color: black;
	width: 100%;
	padding: 25px 0px 25px 0px;
	text-align: center;
	color: white;
}

/* table in modl displaying instructions */
.modal-table {
	margin: 20px auto;
	padding: 10px;
}

.modal-table td {
	padding: 10px;
}

/* The Close Modal Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ALL BUTTONS STYLING*/

/* MODAL BUTTON WRAP STYLING*/
#buttonWrap {
	text-align: center;
	margin-top: 10px;
}

/* OPEN MODAL & LEAVE TO CUSTOMIZE BUTTON STYLING */
#modalOpenBtn, #leaveToCustomize {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	box-shadow: gray 0px 3px 2px -2px;
	background: -webkit-linear-gradient(top, rgb(255, 226, 81), rgb(255, 192, 0));
	padding: 12px 36px 10px;
}

#leaveToCustomize {
	margin-right: 15px;
}

#modalOpenBtn:hover, #leaveToCustomize:hover {
	background: -webkit-linear-gradient(top, rgb(249, 232, 144), rgb(255, 192, 0));

}

/* STAY IN SITE (CLOSE MODAL) BUTTON STYLING */
#modalCloseBtn {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	box-shadow: gray 0px 3px 2px -2px;
	background: -webkit-linear-gradient(top, rgb(76, 76, 76), rgb(0, 0, 0));
	padding: 12px 36px 10px;
}

#modalCloseBtn:hover {
	background: -webkit-linear-gradient(top, rgb(99, 99, 99), rgb(0, 0, 0));
}
